# List of checks to enable and disable
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cppcoreguidelines-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-identifier-length

# To treat warnings as errors: add specific warning to the list
WarningsAsErrors: |
  readability-function-size,
  readability-identifier-naming

# No specific header filter regex
HeaderFilterRegex: ''

# Do not analyze temporary destructors
# AnalyzeTemporaryDtors: false

# Use Google style
FormatStyle: 'Google'

CheckOptions:
  - key: readability-function-size.LineThreshold
    value: 150
  - key: readability-function-size.StatementThreshold
    value: 50
  - key: readability-function-size.BranchThreshold
    value: 10
  - key: readability-function-size.ParameterThreshold
    value: 5
  - key: readability-function-size.NestingThreshold
    value: 4
  - key: readability-identifier-naming.PublicMemberCase
    value: lower_case
  - key: readability-identifier-naming.PublicMemberPrefix
    value: ''
  - key: readability-identifier-naming.PublicMemberSuffix
    value: ''
  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.SetterCase
    value: lower_case
  - key: readability-identifier-naming.SetterPrefix
    value: 'set_'
  - key: readability-identifier-naming.GetterCase
    value: lower_case
  - key: readability-identifier-naming.GetterPrefix
    value: 'get_'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantPrefix
    value: 'k'
  - key: readability-identifier-naming.ConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
