# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


node_modules/
bun.lockb
target/
dist/
build/
builddir/
.svelte-kit/
cpp-server/builddir/
cpp-server/subprojects/crow/
cpp-server/subprojects/asio/
cpp-server/subprojects/packagecache/
apps/desktop-app/src-tauri/target/
apps/desktop-app/src-tauri/binaries/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*.log
*.env.local

